
.wholePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .slide_banner{
    
    border: 1px solid red;
    
} */
.P{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0px;

}

.grid_banner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.card{
    border-radius: 7px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover .b{
    display: block;
    z-index: 10;
}
.card:hover .c{
    display: none;
}
.b{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 700;
    cursor: pointer;
}
.a{
    position: relative;
}
.c{
    opacity: 0.5;
    font-size: 13px;
}

.Ti{
    padding: 20px;
}

.part{
    display: flex;
}

.colors{
    display: flex;
    
}
.deal{
    display: flex;
}
.style_Parade{
    display: flex;
}
.brands{
    display:grid;
    grid-template-columns: repeat(8,1fr);
}
.b51{
    display: flex;
}