
.wholePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .slide_banner{
    
    border: 1px solid red;
    
} */
.P{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0px;

}
